<h1>Submitting to the next popUp?</h1>
<div class="row">
	<div class="span6">
		<p class="lead">First we'll need to know a bit about you.</p>
		<p>Once you start your application, we'll send you a link by email which will allow you to return and revise your submission anytime before the deadline.
	</div>
</div>

<div class="row">
	<div class="span6">
		<%= render 'form' %>
	</div>
	<div class="span5">
	</div>
</div>

