// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body>.container
  margin-top: 75px
 
h3
  border-bottom: 1px solid #555

a.btn.btn-primary:visited
  color: #fff

.uploaded
  opacity: .2
.uploaded.has-images
  opacity: 1
.uploaded-images
  margin-top: 20px
  width: 100%
  .submission
    width: 75px
    height: 120px
    float: left

.actions
  margin-top: 20px

.toolbar
  margin-bottom: 10px

